.btn-login {
    color: #ffffff;
    background-color: green;
    padding-right: 0 2rem 0 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
    margin-top: .5rem;
     
    -webkit-box-shadow: -1px 1px 5px 6px #333;
    -moz-box-shadow: -1px 1px 5px 6px #333;
    box-shadow: -1px 1px 6px 1px #333;
}

.fa-user-lock {
    color: #ffffff;
}

  
 



