body {
  background-color: white;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Quicksand', sans-serif;
  color: #b8d12c;
}


a.nav-link, 
a.nav-link:link, 
a.nav-link:hover {
  color: #b8d12c;
    text-decoration: none;
}
a.nav-link, 
a.nav-link:link {
    border-bottom: 1px solid #f6f6f6;
}
a.nav-link:hover {
  border-bottom: 1px solid #b8d12c;
}
a.edu-readmore, 
a.edu-readmore:link, 
a.edu-readmore:hover {
    color: #b8d12c;
    text-decoration: none;
}
a.edu-readmore:hover {
  color: rgb(157, 157, 157);
}