/* p {
    font-size: 16px;
} */

.modal-content {

    -webkit-box-shadow: -1px 1px 5px 9px #333;
    -moz-box-shadow: -1px 1px 5px 9px #333;
    box-shadow: -1px 1px 50px 1px #333;
}

.modal-header,
.modal-footer {
    background: #b8d12c !important;
}
.modal-header {
  margin:0 0 0 0;
  background-color:#b8d12c;
}
.modal-body img {
    width: auto;
    height: 315px;
}

.modal-text {
    text-align: center;
    font-style: italic;
    font-weight: 600;

}
.btn-success {
        color: #fff;
        background-color: #b8d12c;
        border-color: #fff !important;
}

.btn-success:hover {
    color: #b8d12c;
    background-color: #fff;
    border-color: #b8d12c;
  }
  
.btn-danger {
    border-radius: 2rem;
    color: #ffffff;
    text-decoration: none;
}

a.modal-link, 
a.modal-link:link, 
a.modal-link:hover {
    color: #ffffff;
    text-decoration: none;
}

.modal-body {
    background-image: url(../images/greenhouse.jpeg);
}

@media screen and (max-width:768px) {
    .modal,
    
    .modal-content {
        height:auto;
    }
}