.footer-info {
    background-color: #fff;
  }

  .footerrow {    
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  footer li {
    padding: .25em 0em;
  }

  .footer-link {
    color: #000;
  }

  .footer-link:hover {
    color: #277a23;
  }