.hero {
    background-image: url(./heroPic3.png);
    background-color: rgba(11, 17, 3, 0.3);
    background-blend-mode: darken;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero-text {
    color: white;
    font-size: 3.5rem;
    font-weight: 200;
    text-align: right;
    padding-right: 2rem;
    font-family: 'Fredericka the Great', cursive;
}

@media (min-width: 992px) {
    .hero-text {
        padding-right: 10rem;
    }
}